/target/
.DS_Store
investment-tracker/backend/__pycache__/
investment-tracker/backend/routers/__pycache__/
investment-tracker/backend/services/__pycache__/
investment-tracker/backend/investments.db
investment-tracker/frontend/node_modules/
investment-tracker/.env
investment-tracker/backend/firebase-credentials.json
